header {
    background: #792f09;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    margin: 0.1em 0.5em;
    line-height: 2;
    font-weight: normal;
}

header button {
    color: white;
    background: transparent;
    border: none;
    height: 100%;
}

header button:hover,
header button:active {
    background: #411806;
}

section:not(.browser-style),
.empty {
    padding: 0 0.5em;
}

label {
    display: block;
}

input,
textarea {
    width: 100%;
}

main > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > ul > li {
    margin: 0;
    background: #fbebd1;
    color: black;
}

main > ul > li:not(:last-child) {
    border-bottom: 1px dotted #d97c7c;
}

details > ul {
    margin: 0;
    padding: 0;
}

summary,
details ul > li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.5em;
}

summary::before {
    color: #d97c7c;
    font-size: 1.2em;
    margin-right: 0.2em;
    content: '+';
}

details[open] > summary::before {
    content: '−';
}

summary > button,
details .button-group {
    margin-left: 0.5em;
    margin-bottom: 0;
}

.space {
    flex-grow: 1;
    flex-shrink: 1;
    text-overflow: ellipsis;
}

.code {
    font-family: monospace;
}

.current summary .space {
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
